*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pliant", sans-serif;
}

.header-imagen {
    height: 612px;
    width: 100%;
    background-image: url('/img/sun-tornado.png');
    border-bottom: 4px solid #FF6B35;
}

.logo-header {
    position: relative;
    padding-top: 24px;
    left: 65px;
    max-width: 180px;
}

.contenedor-matricula {
    display: flex;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.matricula-mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 500;
}

.mensaje-flotante {
    position: relative;
    width: 350px;
    z-index: 5;
    color: white;
    line-height: 1.2;
    font-weight: 700;
    left: 100px;
}

.imagen-flotante{
    position: relative;
    bottom: 56px;
}

.contenedor-flotante {
    padding-top: 16px;
}

.tarjeta {
    display: flex;
    height: 360px;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.356);
    padding: 24px;
    border-radius: 8px;
}

.boton-registrate {
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #FF6B35;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-registrate:hover {
    background-color: #e76131;
}

.contenedor-experiencia {
    display: flex;
}

.contenido-experiencia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 485px;
    height: 485px;
}

.contenido-stats {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetilla {
    width: 250px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    background-color: #0D4F4F;
    height: 100px;
}

footer p {
    color: aliceblue;
    padding-right: 10px;
    font-size: 0.8em;
    margin-bottom: 0;
}

.logo-footer img {
    width: 210px;
}

/* Estilos para inputs, selects y textareas */
.campo-grupo input[type="text"],
.campo-grupo input[type="email"],
.campo-grupo input[type="tel"],
.campo-grupo select,
.campo-grupo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

/* Efecto al hacer clic en un input */
.campo-grupo input:focus,
.campo-grupo select:focus,
.campo-grupo textarea:focus {
    border-color: #127979;
    outline: none;
    box-shadow: 0 0 5px #0D4F4F;
}

@media only screen and (max-width: 1294px) {
    .contenedor-matricula {
        flex-direction: column;
        gap: 0;
    }

    .header-imagen {
       height: 1000px
    }

    .tarjeta {
        position: relative;
        top: -55px;
    }

    .imagen-flotante {
        left: -50px;
    }

    .contenedor-experiencia {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-bottom: 54px;
    }
}